{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_main_url' %}">Каталог
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О магазине</a>
        </li>
        {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_url' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration_url' %}">Регистрация</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_url' %}">Личный кабинет, {{ request.user }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_url' %}">Выход</a>
        </li>
        {% endif %}

        <li><a class="nav-link" href="{% url 'cart_url' %}">Корзина <span class="badge badge-secondary" id='cart-count'>{{ cart.items.count }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
