{% extends 'base.html' %}

{% load static %}

{% block title %}

О компании - {{ block.super }}

{% endblock %}

{% block maincontent %}

<div class="alert alert-secondary mb-5" role="alert">
  <h2>О нас</h2>
</div>

<div class="card">
  <div class="card-header">
    Уважаемый Клиент!
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">

  <p>
  	<span >Предприятие СМП.Геодезия (СМП.ГЕО) предлагает услуги по выполнению геодезических работ любой сложности, включая решения индивидуальных уникальных задач в любых сферах промышленности.</span></p>
  <p>
  	<span >Компания была создана в 2012 году, и за 6 лет работы было успешно завершено множество проектов по всему Миру: от РФ (и стран бывшего СССР) и до стран Европы и Центральной Америки.</span></p>
  <p>
  	<span >В данный момент предприятие базируется в г. Москве и имеет собственную производственную базу, автотраспорт и парк современного высокоточного геодезического оборудования: лазерные трекеры, 3D-сканеры, инженерные тахеометры.&nbsp;<span style="font-family: verdana;">Наш коллектив состоит из квалифицированных специалистов, имеющих богатый опыт ведения объектов различного назначения.</span></span></p>
  <p>
  	<span >Компания СМП.ГЕО предлагает следующие услуги:</span></p>
  <ul>
  	<li>
  		<span >Высокоточные геометрические измерения, обмерные работы; </span></li>
  	<li>
  		<span >Геодезическое сопровождение монтажа технологического оборудования с субмиллимитровыми допусками; </span></li>
  	<li>
  		<span >Наблюдения за деформациями зданий, сооружений и сложных конструкций; </span></li>
  	<li>
  		<span >Разработка методик измерений для решения уникальных инженерных задач; </span></li>
  	<li>
  		<span >Геометрический&nbsp;контроль металлообработки; </span></li>
  </ul>
  <p>
  	<span >В своей работы мы используем только самое новое и самое точное геодезическое и метрологическое оборудование фирмы Leica AG (Швейцария): абсолютный лазерный трекер Leica AT402, промышленный тахеометр Leica TCRP1201, измерительные руки ROMER\CIMCORE и лазерые сканеры Percepron и Artec Eva 3D. Все измерения выполняются на базе программного обеспечения NRK Spatial Analyzer и Polyworks.</span></p>
  <p>
  	<span >В настоящее время ни одна из сфер промышленности не обходится без применения измерительного оборудования. Будь то строительство зданий или сборка самолетов. Все современные технологии сборки и монтажа предполагают своевременный&nbsp;размерный контроль. Мы готовы предложить&nbsp;данные услуги самых разнообразных сферах промышленности.</span></p>

      <footer class="blockquote-footer">Если у Вас есть заинтересованность во внедрении на производстве современных технологий размерного контроля, <a href="{% url 'contacts_url' %}">свяжитесь с нами</a>. Мы всегда готовы к сотрудничеству.</footer>
    </blockquote>
  </div>
</div>

{% endblock %}
