{% extends 'base.html' %}

{% block title %}
  Фотогалерея - {{ block.super }}
{% endblock %}

{% block maincontent %}

<div class="alert alert-secondary mb-5" role="alert">
  <h2>Фотогалерея</h2>
</div>
<div class="container justify-content-around">
  {% for image, link in images_and_links %}
  {% if forloop.first %}
  <div class="row">
  {% endif %}
    <div class="col-4">
      <div class="card">
        <a href="{{ link }}" target="_blank"><img src="{{ image }}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div><div class="row">
    {% endif %}
    {% if forloop.last %}
  </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
