{% load static %}

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing_url' %}"><img src="{% static 'img/logo_ru.png' %}" alt="" width="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services_main_url' %}">Измерительные работы
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_main_url' %}">Магазин</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us_url' %}">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Фотогалерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts_list_url' %}">Блог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts_url' %}">Контакт</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
