{% extends 'shop/base_shop.html' %}

{% block title %}
  {{ user }} - {{ block.super }}
{% endblock %}

{% block content %}


<h3 class="text-center mb-5">Добро пожаловать в личный кабинет, {{ user }}</h3>

<h4 class="text-center"></h4>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Номер заказа</th>
    <th scope="col">Дата</th>
    <th scope="col">Статус</th>
    <th scope="col">Стоимость</th>
    <th scope="col">Детали</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>


  {% for order in orders %}
  <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.date }}</td>
    <td>{{ order.status }}</td>
    <td>{{ order.total }}</td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
    </tbody>
</table>
{% if not orders %}
<h3 class="text-center">У вас пока нет заказов</h3>
{% endif %}


{% endblock %}
