{% extends 'shop/base_shop.html' %}
{% load static %}
{% block meta %}
<link rel="canonical" href="{{ request.het_full_path }}" />
{{ block.super }}
{% endblock %}
{% block title %}
  Интернет-магазин измерительного оборудования для геодезистов - {{ block.super }}
{% endblock %}



{% block content %}



<div class="row">

  {% include 'shop/includes/categories.html' %}
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">


<!-- Page Content -->


    {% include 'shop/includes/slider.html' %}

    {% include 'shop/includes/showcase.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"><\/script>');</script>
    <!-- <script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script> -->
    <script>
      $(document).ready(function(){
        $(document).on('click', '.add-to-cart', function(e){
          e.preventDefault()
          slug = $(this).attr('data-slug')
          button = $(this).find("button")
          data = {
            slug: slug,
          }
          $.ajax({
            type: "GET",
            url: "{% url 'add_to_cart_url' %}",
            data: data,
            success: function(data){
              $('#cart-count').html(data.cart_items_count)
              $(button).prop("disabled", true)
              $(button).html('Товар в корзине')
            }
          })
        })
      })
    </script>

{% endblock %}
